<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<div>
			<h1>Cupcake List</h1>
			<ul id="cupcake-list"></ul>
		</div>
		<div>
			<h3>Add a new cupcake</h3>
			<form id="new-cupcake-form">
				<div>
					<label for="form-flavor">Flavor</label>
					<input type="text" name="flavor" id="form-flavor" />
					<div>
						<label for="form-size">Size</label>
						<input type="text" name="size" id="form-size" />
					</div>
					<div>
						<label for="form-rating">Rating</label>
						<input type="number" name="rating" id="form-rating" />
					</div>
					<div>
						<label for="form-image"></label>Image</label>
							<input type="text" name="image" id="form-image" />
					</div>
					<button>Add</button>
				</div>
			</form>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"
		></script>
		<script src="/static/cupcakes.js"></script>
	</body>
</html>
